h1 {
  text-align: center;
  color: blue;
}
.login {
  padding-left: 300px;
  padding-right: 300px;
}
.lable {
  color: rgb(15, 25, 161);
}
.sign {
  padding-left: 20rem;
  padding-right:20rem;
  margin-top:1px;
}
.Margin {
  margin-top: 2rem;
}
.logbutton {
  margin-top: 3px;
  margin-left: 2rem;
  margin-left: 1rem;
}
.signbut {
  margin-top: 3px;
  margin-left: 2rem;
}
.btnAlign {
  padding-top: 1rem;
  text-align: center;
}
.cardIimg {
  max-height: 10rem;
  max-width: 20rem;
}
.Uplods {
  margin-right: 50rem;
  margin: top 2px;
}
